<div
  class="font-body px-4 py-20 lg:px-32 lg:py-20 bg-red h-full w-full"
  id="bg"
>
  <div class="flex-column lg:flex gap-16">
    <div
      class="flex-auto lg:flex-1 p-4 lg:w-1/2 flex items-center justify-center"
    >
      <div class="text-center lg:text-start">
        <h1 class="text-white text-3xl lg:text-5xl lg:max-w-4xl font-bold">
          Learn to code by watching others
        </h1>
        <p class="text-white text-xl lg:text-md mt-6 lg:max-w-4xl">
          See how experienced developers solve problems in real-time. Watching
          scripted tutorials is great, but understanding how developers think is
          invaluable.
        </p>
      </div>
    </div>
    <div class="flex-auto p-4 lg:flex-1 lg:w-1/2 mt-6 lg:mt-0">
      <div class="bg-blue mb-6 lg:mb-4 p-4 rounded-lg shadow-lg">
        <h2 class="text-white text-md lg:text-xl font-semibold text-center">
          Try it free 7 days
          <span class="text-center text-sm font-light">
            then $20/mo. thereafter.
          </span>
        </h2>
      </div>
      <div class="bg-white rounded-lg shadow-lg px-4 py-8 lg:p-10">
        <form>
          <div class="flex flex-col">
            <input
              type="text"
              class="border border-grayishBlue rounded-lg p-4 focus:outline-none focus:border-blue text-sm"
              placeholder="First Name"
            />
            <input
              type="text"
              class="border border-grayishBlue rounded-lg p-4 focus:outline-none focus:border-blue text-sm mt-4"
              placeholder="Last Name"
            />
            <input
              type="text"
              class="border border-grayishBlue rounded-lg p-4 focus:outline-none focus:border-blue text-sm mt-4"
              placeholder="Email Address"
            />
            <input
              type="text"
              class="border border-grayishBlue rounded-lg p-4 focus:outline-none focus:border-blue text-sm mt-4"
              placeholder="Password"
            />
            <button
              type="submit"
              class="bg-green hover:bg-blue text-white font-bold py-6 rounded-lg text-sm mt-6"
            >
              CLAIM YOUR FREE TRIAL
            </button>
          </div>
        </form>
        <p class="text-center text-grayishBlue text-sm mt-4">
          By clicking the button, you are agreeing to our
          <a href="#" class="text-red font-semibold hover:text-blue"
            >Terms and Services</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
